body {
    font - family: 'Arial', sans - serif;
    margin: 20 px;
}

#app {
    max - width: 600 px;
    margin: 0 auto;
}

form {
    margin - bottom: 20 px;
}

ul {
    list - style - type: none;
    padding: 0;
}

li {
    margin - bottom: 10 px;
}